
    <header style="background-color:#39e600;height:50px;width: 100%;">
    </header>
    <center>
        <h1 style="color: tomato;">chat app!</h1>
    </center>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
    <form action="#" method="#" ng-app="DemoApp" ng-controller="democontroller" name="myForm" novalidate>
        <p>user Name
            <input type="email" ng-model="username" placeholder="enter firstname" autocomplete="off" required>
            <span ng-show="myForm.username.$touched && myForm.username.$invalid">The name is required.</span></p>
        <p>Password
            <input type="Password" ng-model="password" placeholder="enter password" autocomplete="off" required>
            <span ng-show="myForm.password.$touched && myForm.password.$invalid">The password is required.</span></p><br><br>
        <button ng-disabled="myForm.username.$invalid && myForm.username.$dirty" ng-click=login()>login</button>
        <a ui-sref="register">Create an account</a>
    </form>
</div>
</div>
    </form>


